html {
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif, 'Titan One', cursive;
}

img {
  display: block;
  // min-width: 100%;
  height: auto;
  // width: 100%;
}

a,
label,
button {
  cursor: pointer;
}
