:root {
    // -------Text colors-------

    --main-text-color: #FFFFFF;
    --secondary-text-color: #000000;

    --main-header-color: #D41443;
    --secondary-header-color: #FFA5BA;
    --third-text-color: #907E82;

    // -------BG colors-------

    --main-bg-: #FFB8CA;
    --secondary-bg: #FFF5F6;
    --modal-bg: #E17992;

    // -------Additional colors-------

    --additional-first: #F0D1A5;
    --additional-second: #C2E297;

    // -------Icons colors-------

    --icon-main: #FEA5BB;

}