$primaryColor: #FFFFFF;
$accentColor: #D41443;
$additionalDarkColor: #000000;
$additionalLightColor: #907E82;

$iconColor: #FEA5BB;

$btnhoover: #ECEBEB;

$bgmain: #FFF5F6;
$modalBackground: #E17992;

$typicallMargin: 16px;

$hooverDuration: 250ms;
$hoverTimeFunction: cubic-bezier(0.4, 0, 0.2, 1);
