<section class="about" id="How-it's-made?">
  <div class="container">
    <p class="about__top-text animate__animated animate__fadeInRight">
      tradition and love
    </p>
    <h2 class="about__title animate__animated animate__fadeInLeft">
      how it’s made?
    </h2>
    <div class="about__cards">
      <div class="about__card">
        <img
          src="./images/about/milk_cow_mob.png"
          alt="cow milk"
          width="280"
          height="280"
          class="about__milk_pic"
        />
      </div>
      <div class="about__card">
        <ul class="about__list list">
          <li class="about__list_item">
            <p class="about__first-text">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
              justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
              erat at justo fringilla.
            </p>
          </li>
          <li class="about__list_item">
            <p class="about__second-text">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio
              elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
              euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
              Cras massa nibh, tincidunt. <br /><br />
              Aliquam erat volutpat. Aenean accumsan
              <span id="about__dots">...</span>
              <span id="about__more">
                fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
                justo cursus, faucibus lorem eget, egestas eros. Maecenas
                eleifend erat at justo fringilla. Vestibulum euismod nisl
                suscipit ligula volutpat, a feugiat urna maximus. Cras massa
                nibh, tincidunt. Aliquam erat volutpat.
              </span>
            </p>
          </li>
        </ul>
        <button
          type="button"
          class="button-light about__button"
          id="about__btn"
          onclick="readMore()"
        >
          Read more
          <svg class="button__icon" width="8" height="18">
            <use href="./images/icons/icons.svg#button__icon-dark"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
