<section class="section advantages section--no-padding" id="About-us">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <p class="advantages__text">
          <span class="advantages__amount">721</span> Aliquam ac dui vel dui
          vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__text">
          <span class="advantages__amount">16kg</span> Aliquam ac dui vel dui
          vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <p class="advantages__text">
          <span class="advantages__amount">84</span> Aliquam ac dui vel dui
          vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
