<section class="section">
    <div class="container__contacts container">
        <h2 class="visually-hidden">Contact us</h2>
        <div class="contacts">
        <ul class="contacts__list">
            <li class="contacts__item">
                <p class="contacts__text contacts__text--orange">Cafe</p>
                <p class="contacts__text contacts__text--margin-bottom">Chicago</p>
                <p class="contacts__text contacts__text--grey">The best ice cream in Chicago's best cafe</p>
            </li>
            <li class="contacts__item">
                <ul class="working-time__list">
                    <li class="working-time__item">
                        <p class="contacts__text">Monday - Friday</p>
                        <p class="working-time__text"><time>06:00</time>AM - <time>10:00</time>PM</p>
                    </li>
                    <li class="working-time__item">
                        <p class="contacts__text">Saturday - Sunday</p>
                        <p class="working-time__text"><time>08:00</time>AM - <time>16:00</time>PM</p>
                    </li>
                </ul>
            </li>
            <li class="contacts__item">
                <ul class="contacts-communication__list">
                    <li class="contacts-communication__item">
                        <a class="contacts-communication__link" href="tel:+610383766284">
                            +61(0) 383 766 284
                        </a>
                    </li>
                    <li class="contacts-communication__item">
                        <a class="contacts-communication__link" href="mailto:chicago@envato.com">
                            chicago@envato.com
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="contacts__list list">
            <li class="contacts__item">
                <p class="contacts__text contacts__text--green">Foodtruck</p>
                <p class="contacts__text contacts__text--margin-bottom">Los Angeles</p>
                <p class="contacts__text contacts__text--grey">The best ice cream in Los Angeles's best foodtruck</p>
            </li>
            <li class="contacts__item">
                <ul class="working-time__list">
                    <li class="working-time__item">
                        <p class="contacts__text">Monday - Friday</p>
                        <p class="working-time__text"><time>06:00</time>AM - <time>10:00</time>PM</p>
                    </li>
                    <li class="working-time__item">
                        <p class="contacts__text">Saturday - Sunday</p>
                        <p class="working-time__text"><time>08:00</time>AM - <time>16:00</time>PM</p>
                    </li>
                </ul>
            </li>
            <li class="contacts__item">
                <ul class="contacts-communication__list">
                    <li class="contacts-communication__item">
                        <a class="contacts-communication__link" href="tel:+610383766285">
                            +61(0) 383 766 285
                        </a>
                    </li>
                    <li class="contacts-communication__item">
                        <a class="contacts-communication__link" href="mailto:la@envato.com">
                            la@envato.com
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="contacts__list">
            <li class="contacts__item">
                <p class="contacts__text contacts__text--orange">Cafe</p>
                <p class="contacts__text contacts__text--margin-bottom">New York</p>
                <p class="contacts__text contacts__text--grey">The best ice cream in New York's best cafe</p>
            </li>
            <li class="contacts__item">
                <ul class="working-time__list">
                    <li class="working-time__item">
                        <p class="contacts__text">Monday - Friday</p>
                        <p class="working-time__text"><time>06:00</time>AM - <time>10:00</time>PM</p>
                    </li>
                    <li class="working-time__item">
                        <p class="contacts__text">Saturday - Sunday</p>
                        <p class="working-time__text"><time>08:00</time>AM - <time>16:00</time>PM</p>
                    </li>
                </ul>
            </li>
            <li class="contacts__item">
                <ul class="contacts-communication__list">
                    <li class="contacts-communication__item">
                        <a class="contacts-communication__link" href="tel:+610383766286">
                            +61(0) 383 766 286
                        </a>
                    </li>
                    <li class="contacts-communication__item">
                        <a class="contacts-communication__link" href="mailto:nycity@envato.com">
                            nycity@envato.com
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        </div>
        <div class="contacts__box">
            <button class="contacts__button button">Our Locations</button>
            <button class="contacts__button button">Franchise</button>
        </div>
    </div>
</section>

