<section class="container review">
  <div class="review__tab">
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide customer-item">
          <img
            src="./images/customer-review/testimonials1-1.jpg"
            class="review__img"
            width="85"
            alt="Mona"
          />
          <p class="review__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
          <p class="review__name">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img
            src="./images/customer-review/testimonials1-1.jpg"
            class="review__img"
            width="85"
            alt="Mona"
          />
          <p class="review__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="swiper-slide">
          <img
            src="./images/customer-review/testimonials1-1.jpg"
            class="review__img"
            width="85"
            alt="Mona"
          />
          <p class="review__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
