<section class="section">
  <div class="container">
    <h2 class="visually-hidden">Customer review</h2>
    <div class="review">
      <img
        srcset="
          ./images/customer-review/avatar1-1.png    1x,
          ./images/customer-review/avatar1-1@2x.png 2x
        "
        src="./images/customer-review/avatar1-1.png"
        class="review__img"
        width="85"
        alt="Oleksandr"
      />
      <div class="review__tab">
        <p class="review__text">
          In the summer you always want something cool for your body. Once you
          try the ice cream of this company, you will start looking for it in
          all stores. Highly recommend, get a lot of pleasure gastronomic
          orgasm!
        </p>
      </div>
      <p class="review__name">Oleksandr, Kyiv, Ukraine</p>
    </div>
  </div>
</section>
