<section class="container review">
  <h2 class="visually-hidden">Я отзывы клиентов</h2>
  <div class="review__tab">
    <img
      src="./images/customer-review/test.svg"
      class="review__img"
      width="85"
      alt="Mona"
    />
    <p class="review__text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
      nibh vel risus.
    </p>
    <img
      src="./images/customer-review/quotes.svg"
      class="review__quotes"
      width="54"
      alt="quotes"
    />
  </div>
</section>
