<section class="hero container">
<div class="hero__raw">
  <div class="hero__main-text">
    <h1 class="hero__title">ice cream <br /> made with <br /> <span class="hero__title--red">passion</span> </h1>
    <a class="hero__link" href="#Products">Products</a>
    <a class="hero__link" href="#Howit'smade?">How it's made?</a>
  </div>
  <div class="hero__numbers">
    <ul class="hero__list">
      <li class="hero__item"> 16 <br /><p class="hero__item-text">cafes</p> 
        <div class="hero__numbers-circle"></div> </li>
      <li class="hero__item"> 23 <br /><p class="hero__item-text">food trucks</p> 
        <div class="hero__numbers-circle"></div></li>
    </ul>
  </div>
</div>
<div class="hero__circle">
</div>
<div class="hero__text">
  <p>Lorem ipsum dolor sit amet,<br /> consectetur adipiscing elit, <br /> sed do eiusmod tempor <br /> incididunt ut labore et</p>
</div>
<div class="hero__text-btn"></div>
<div class="hero__img1"><img src="/src/images/hero/hero1.png" alt="milk" width="213"></div>
<div class="hero__img2"><img src="/src/images/hero/hero2.png" alt="icecream" width="236"></div>
<div class="hero__img3"><img src="/src/images/hero/hero3.png" alt="girl" width="304"></div>
</section>
