<!-- Mobile menu -->
<script src="./js/menu.js"></script>
<!-- Modal buy now -->
<script src="./js/modal-buy.js"></script>
<script src="./js/modal-mob.js"></script>
<!-- About section - More button -->
<script src="./js/about_more_btn.js"></script>
<!-- Modal products -->
<script src="./js/modal-products.js"></script>
<!-- Modal franchise -->
<script src="./js/modal-franchise.js"></script>
<!-- Modal locations -->
<script src="./js/modal-locations.js"></script>
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script src="./js/swiper.js"></script>
<!-- Scroll up button -->
<script src="./js/scroll-up-button.js"></script>