<div class="backdrop is-hidden" data-modal>
    <div class="modal-franchise">
      <button type="button" class="modal-franchise__button" data-modal-close>
        <svg class="modal-franchise__icon" width="18" height="18">
          <use href="./images/icons/icons.svg#icon-modal-contacts-close"></use>
        </svg>
      </button>
      <h2 class="visually-hidden">Request franchise information</h2>
      <p class="modal-franchise__text">Contact our support team</p>
      <form class="franchise-input__form">
        <div class="franchise-input__field">  
         <label class="franchise-input__label" for="user-name">Name</label>
         <div class="franchise-input__wrap">
          <input
            type="text"
            class="franchise-input__input"
            name="user-name"
            id="user-name"
            required
            autocomplete="off"
          />
         </div>
        </div>
        <div class="franchise-input__field">
         <label class="franchise-input__label" for="user-mail">Email</label>
         <div class="franchise-input__wrap">
          <input
            type="email"
            class="franchise-input__input"
            name="user-mail"
            id="user-mail"
            required
            autocomplete="off"
          />
         </div>
        </div>
        <div class="franchise-input__field">
         <label class="franchise-input__label" for="user-text">Text</label>
         <textarea
            class="franchise-input__textarea"
            name="user-text"
            id="user-text"
            required
            autocomplete="off"
            placeholder="Your message..."
         ></textarea>
        </div>
        <div class="modal-franchise__submit">
          <button type="button" class="button-dark modal-franchise__submit-button">
            Send message
            <svg class="button__icon" width="8" height="18">
                <use href="./images/icons/icons.svg#button__icon-light" class="header__icon"></use>
            </svg>
        </button>
        </div>
      </form>
      </div>
  </div>