<!-- data-modal-1-open -->
<div class="backdrop is-hidden modal-products" data-modal-1>
  <div class="modal-produkt modal-produkt--first">
    <button type="button" class="btn-close btn-close--first" data-modal-1-close>
      <svg width="11" height="11">
        <use href="./images/icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal-produkt__title">
      What's your favourite ice cream? Ice cream cornet, ice lolly, choc ice,
      pistachio ice cream, vanilla ice cream, strawberry ice cream, banana ice
      cream, caramel cream, peanut butter ice cream ? We have ice cream for
      every taste!
    </p>
  </div>
</div>

<!-- data-modal-2-open -->

<div class="backdrop is-hidden" data-modal-2>
  <div class="modal-produkt modal-produkt--second">
    <button
      type="button"
      class="btn-close btn-close--second"
      data-modal-2-close
    >
      <svg width="11" height="11">
        <use href="./images/icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal-produkt__title">
      Summer? Hot? Drink cold or ice coffee! This is coffee with cold milk and
      ice. Try it and you at once fall in love! Enjoy your favorite latte!
    </p>
  </div>
</div>

<!-- data-modal-3-open -->

<div class="backdrop is-hidden" data-modal-3>
  <div class="modal-produkt modal-produkt--third">
    <button type="button" class="btn-close btn-close--third" data-modal-3-close>
      <svg width="11" height="11">
        <use href="./images/icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal-produkt__title">
      Milkshake - a dessert drink based on milk and ice cream. To give the
      cocktail different flavors, it adds syrups, jams, fruits, whipped cream,
      creams, grated chocolate and more food ingredients.
    </p>
  </div>
</div>
