  <section>
    <div class="container">
      <p>100% natural</p>
      <h2>products</h2>
      <ul>
        <li>
          <h3>ice cream</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ullam
            dignissimos odio praesentium, earum labore velit sequi sunt nostrum
            ratione amet, optio accusantium, eum magni rem animi! Illum,
            distinctio pariatur!
          </p>
          <button type="button"></button>
        </li>
        <li>
          <h3>ice coffee</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ullam
            dignissimos odio praesentium, earum labore velit sequi sunt nostrum
            ratione amet, optio accusantium, eum magni rem animi! Illum,
            distinctio pariatur!
          </p>
          <button type="button"></button>
        </li>
        <li>
          <h3>milkshakes</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ullam
            dignissimos odio praesentium, earum labore velit sequi sunt nostrum
            ratione amet, optio accusantium, eum magni rem animi! Illum,
            distinctio pariatur!
          </p>
          <button type="button"></button>
        </li>
      </ul>
    </div>
  </section>
