<section class="section section--big-padding-top" id="Our-products">
  <div class="container product">
    <p class="section-title-label animate__animated animate__fadeInRight">
      100% natural
    </p>
    <h2
      class="section-title product__title animate__animated animate__fadeInLeft"
    >
      products
    </h2>
    <ul class="product__list">
      <li class="product__card product__card--pink-bcg">
        <h3 class="product__name">ice cream</h3>
        <p class="product__description">
          What's your favourite ice cream? We have ice cream for every taste!
        </p>
        <button
          type="button"
          class="button-light button--round"
          data-modal-1-open
        >
          <svg class="link__icons" width="12" height="12">
            <use href="./images/icons/icons.svg#icon-arrow-right-2"></use>
          </svg>
        </button>
      </li>

      <li class="product__card product__card--yellow-bcg">
        <h3 class="product__name">ice coffee</h3>
        <p class="product__description">
          Summer? Hot? Drink cold or ice coffee! Try it and you at once fall in
          love!
        </p>
        <button
          type="button"
          class="button-light button--round"
          data-modal-2-open
        >
          <svg class="link__icons" width="12" height="12">
            <use href="./images/icons/icons.svg#icon-arrow-right-2"></use>
          </svg>
        </button>
      </li>

      <li class="product__card product__card--green-bcg">
        <h3 class="product__name">milkshakes</h3>
        <p class="product__description">
          Milkshake - a drink you could only dream of! Very cool!
        </p>
        <button
          type="button"
          class="button-light button--round"
          data-modal-3-open
        >
          <svg class="link__icons" width="12" height="12">
            <use href="./images/icons/icons.svg#icon-arrow-right-2"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
