<section class="section section--big-padding-top">
  <div class="container product">
    <p class="section-title-label">100% natural</p>
    <h2 class="section-title product__title">products</h2>
    <ul class="product__list">
      <div class="product__box">
        <li class="product__card product__card--pink-bcg">
          <h3 class="product__name">ice cream</h3>
          <p class="product__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button type="button" class="button button--round">
            <svg class="link__icons" width="12" height="12">
              <use href="./images/icons/icons.svg#icon-arrow-right-2"></use>
            </svg>
          </button>
        </li>
      </div>
      <div class="product__box">
        <li class="product__card product__card--yellow-bcg">
          <h3 class="product__name">ice coffee</h3>
          <p class="product__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ullam
            dignissimos odio praesentium, earum labore velit sequi sunt nostrum
            ratione amet, optio accusantium, eum magni rem animi! Illum,
            distinctio pariatur!
          </p>
          <button type="button" class="button button--round">
            <svg class="link__icons" width="12" height="12">
              <use href="./images/icons/icons.svg#icon-arrow-right-2"></use>
            </svg>
          </button>
        </li>
      </div>
      <div class="product__box">
        <li class="product__card product__card--green-bcg">
          <h3 class="product__name">milkshakes</h3>
          <p class="product__description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ullam
            dignissimos odio praesentium, earum labore velit sequi sunt nostrum
            ratione amet, optio accusantium, eum magni rem animi! Illum,
            distinctio pariatur!
          </p>
          <button type="button" class="button button--round">
            <svg class="link__icons" width="12" height="12">
              <use href="./images/icons/icons.svg#icon-arrow-right-2"></use>
            </svg>
          </button>
        </li>
      </div>
    </ul>
  </div>
</section>
