.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
  
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
  
    transition: opacity $hooverDuration $hoverTimeFunction,
    transform $hooverDuration $hoverTimeFunction,
    visibility $hooverDuration $hoverTimeFunction;

    @media screen and (max-width: 767px) {
      padding-right: 16px;
      padding-left: 16px;
    }
    
  &.is-hidden {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
  }
}
