.button-light,
.button-dark {
    display: flex;
    justify-content: center;
    align-items: center;

    @include font(700, 16px, 1.31, 0.02em);

    border: transparent;
    border-radius: 22px;
}

.button-light {
    color: $accentColor;
    background-color: $primaryColor;

    transition: background-color $hooverDuration $hoverTimeFunction;

    &:hover,
    &:focus {
        background-color: $btnhoover;
    }
}

.button-dark {
    color: $primaryColor;
    background-color: $accentColor;

    transition: background-color $hooverDuration $hoverTimeFunction;

    &:hover,
    &:focus {
        background-color: #C7133E;
    }
}



.contacts__button {
    width: 161px;
    height: 44px;
    
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    
    @include tablet {
        width: 191px;
        height: 44px;
    
        &--inverse {
            width: 174px;
            height: 44px;
        }
    
        &:not(:last-child) {
            margin-right: 14.5px;
            margin-bottom: 0;
        }
    }
    @include desktop {
        width: 198px;
        height: 44px;
    
        &--inverse {
            width: 180px;
            height: 44px;
        }
    
        &:not(:last-child) {
            margin-right: 15px;
        }
    }

    .button__icon {
        margin-left: 8px;

        @include tablet {
            margin-left: 13.4px;
        }
        @include desktop {
            margin-left: 13.62px;
        }
    }
}

.header__button {
    display: none;

    @include tablet {
        display: flex;
        width: 160px;
        height: 44px;
    }
    @include desktop {
        width: 159px;
        height: 44px;
    }

    .button__icon {
        @include tablet {
            margin-left: 12.08px;
        }
        @include desktop {
            margin-left: 12px;
        }
    }
} 

.menu__button {
    width: 209px;
    height: 44px;

    @include tablet {
        width: 186px;
        height: 44px;
    }
    @include desktop {
        display: none;
    }

    .button__icon {
        margin-left: 15.77px;

        @include tablet {
            margin-left: 14.04px;
        }
    }
}

.about__button {
    width: 176px;
    height: 44px;

    .button__icon {
        margin-left: 13.62px;
    }
}

.modal-franchise__submit-button {
    width: 161px;
    height: 44px;

    @include tablet {
      width: 174px;
      height: 44px;
    }

    @include desktop {
      width: 180px;
      height: 44px;
    }

    .button__icon {
        margin-left: 8px;

        @include tablet {
            margin-left: 13.4px;
        }
        @include desktop {
            margin-left: 13.62px;
        }
    }
  }
// Стили кнопок от Аллы

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  background-color: $primaryColor;
  border: 1px solid transparent;
  height: 44px;
  font-family: 'DM Sans';

  @include font(700, 16px, 1.31, null);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }

  &__header {
    display: none;

    @include tablet {
      display: block;
      fill: $accentColor;
      color: $accentColor;
      width: 160px;
      padding-right: 36px;
      padding-left: 37px;
    }
  }
  &__menu {
    fill: $accentColor;
    color: $accentColor;
    width: 209px;
    padding-right: 47px;
    padding-left: 62px;
    @include tablet {
      weight: 186px;
      padding-right: 43px;
      padding-left: 43px;
    }
    @include desktop {
      display: none;
    }
  }

  &__about {
    fill: $accentColor;
    color: $accentColor;
    max-width: 176px;
    padding-right: 37px;
    padding-left: 37px;
  }
}

.contacts__button {
  background-color: $primaryColor;
  color: $accentColor;
  fill: $accentColor;
  width: 161px;
  padding-right: 32px;
  padding-left: 32px;

  &--inverse {
    background-color: #d41342;
    color: $primaryColor;
    width: 161px;
    padding-right: 17px;
    padding-left: 17px;
    &:hover,
    &:focus {
      background-color: #c7133e;
      color: #ecebeb;
    }
  }
}

// марджиньі до стрелочки
.suffix {
  margin-left: 8px;
}
.suffix__header {
  margin-left: 12px;
}
.suffix__menu {
  margin-left: 28px;
}
