.about .container {
  @include mobile {
    background-image: url(/src/images/about/about-bg-mob.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 540px;
  }
  @include desktop {
    background-image: url(/src/images/about/milk-right.png),
      url(/src/images/about/milk-left.png);
    background-repeat: no-repeat;
    background-position: right 0px top 50px, left 0px top 50px;
  }
}
.about {
  background: #fff5f6;
  padding-top: 40px;
  padding-bottom: 40px;
}
.about__top-text {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
  @include tablet {
    font-size: 30px;
  }
}
.about__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 32px;
  @include tablet {
    font-size: 48px;
    margin-bottom: 40px;
  }
  @include desktop {
    margin-bottom: 60px;
    font-size: 58px;
  }
}
.about__cards {
  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.about__card {
  @include tablet {
    width: calc(100% / 2 - 16px);
  }
}
.about__milk_pic {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include desktop {
    width: 500px;
    margin: 0;
  }
}
.about__list {
  width: 220px;
  margin-bottom: -20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  @include mobile-horizontal {
    width: 320px;
  }
  @include tablet {
    margin-top: 0px;
    // width: 100%;
    // margin-left: 16px;
  }
  @include desktop {
    // width: calc(100% / 2);
    margin-top: 72px;
  }
}
.about__list_item {
  margin-bottom: 40px;
  @include desktop {
    width: 463px;
  }
}
.about__first-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  @include tablet {
    font-size: 14px;
    line-height: 1.94;
  }
}
.about__second-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #907e82;
  @include tablet {
    font-size: 14px;
    line-height: 1.94;
  }
}
.about__button {
  background: #ffffff;
  border-radius: 22px;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 7px;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  // display: flex;
  color: #d41443;
  border: none;
  justify-content: center;
  align-items: center;
  display: block;
  //   margin-left: auto;
  //   margin-right: auto;
  transition: background-color 250ms, color 800ms;
  &:hover {
    background: #ecebeb;
  }
  &:focus {
    background: #ecebeb;
  }
  @include tablet {
    font-size: 16px;
  }
}
.about__btn-icon {
  margin-left: 10px;
  transform: translateY(+5px);
}
#about__more {
  display: none;
}
