.about {
  background: #fff5f6;
  padding-top: 40px;
  padding-bottom: 40px;
}
.about__top-text {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}

.about__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 20px;
}
.about__list {
  width: 220px;
  margin-bottom: -20px;
  margin-top: 40px;
}
.about__list_item {
  margin-bottom: 40px;
}
.about__first-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
}
.about__second-text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #907e82;
}
.about__button {
  background: #ffffff;
  border-radius: 22px;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 7px;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  // display: flex;
  color: #d41443;
  border: none;
  justify-content: center;
  align-items: center;
  display: block;
  //   margin-left: auto;
  //   margin-right: auto;
  transition: background-color 250ms, color 800ms;
  &:hover {
    background: #ecebeb;
  }
  &:focus {
    background: #ecebeb;
  }
}
.about__btn-icon {
  margin-left: 10px;
  transform: translateY(+5px);
}
