.footer {
  position: relative;
  background-color: $bgmain;
  padding-bottom: 20px;
  padding-top: 48px;
  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 8px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 120px;
  }
}
.footer-flex {
  margin-bottom: 56px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  @media screen and (min-width: 1279px) {
    margin-bottom: 68px;
  }
}
.footer::after {
  display: block;
  position: absolute;
  content: '';
  left: 0;
  bottom: 78px;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
  @media screen and (min-width: 768px) {
    bottom: 48px;
  }
}

.footer__text {
  font-family: 'Titan One';
  @include font(400, 18px, 1.17, null);

  text-transform: uppercase;
  color: #ffa5ba;
  width: 232px;
  @media screen and (min-width: 768px) {
    @include font(400, 26px, 1.15, 0.04em);

    width: 340px;
  }
  @media screen and (min-width: 1280px) {
    width: 472px;
    @include font(null, 30px, 1.13, null);
  }
  // &:hover,
  // &:focus {
  //   transform: scale(1.05);
  // }
}

.footer__text--add {
  display: block;
  @include font(400, 34px, 1.15, 0.04em);

  text-transform: uppercase;
  color: $accentColor;
  margin-top: 16px;
  @media screen and (min-width: 768px) {
    margin-top: 12px;
    @include font(null, 48px, 1.15, 0.04em);
  }
  @media screen and (min-width: 1280px) {
    margin-top: 16px;
    @include font(null, 58px, 1.14, null);

    max-width: 474px;
  }
}

.social__list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}
.social__item + .social__item {
  margin-left: 28px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $iconColor;
  width: 32px;
  height: 32px;
  &:hover,
  &:focus {
    background-color: $accentColor;
  }
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.social__icon {
  fill: $primaryColor;
}

.footer__contact {
  font-family: 'DM Sans';
  font-style: normal;
  @include font(700, 12px, 1.186, null);

  text-align: right;
  color: $additionalDarkColor;
  // margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    @include font(null, 14px, 1.86, null);
  }
  @media screen and (min-width: 1280px) {
    @include font(null, 16px, 1.86, 0.02em);
  }
}

.footer__phone-number {
  color: $accentColor;
  transition: transform $hooverDuration $hoverTimeFunction,
    background $hooverDuration $hoverTimeFunction;
  &:hover,
  &:focus {
    color: $iconColor;
    transform: scale(1.2);
  }
}
.site-sign {
  font-family: 'DM Sans';
  font-style: normal;
  @include font(700, 14px, 1.52, 0.02em);

  text-align: center;
  color: $additionalLightColor;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    width: 140px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 768px) {
    line-height: 1.86;
  }
}
