// Я галерея
.section--gallery-background {
    background-image: linear-gradient(to bottom,
                #FFF5F6 42%,
                #FFFFFF 42%,
                #FFFFFF 58%);
    @include tablet {
            background-image: linear-gradient(to bottom,
                        #FFF5F6 40%,
                        #FFFFFF 40%,
                        #FFFFFF 60%);
        }
    
}

.grid__container {
    border-radius: 12%;
    position: relative;
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100%;

        &:hover,
        &:focus {
         cursor: pointer;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            display: block;
            content: '';
            width: 0;
            height: 0;
            background: rgba(0, 0, 0, .2);
            border-radius: 100%;
            transform: translate(-50%, -50%);
            opacity: 0;
        }
            
        &::before {
            animation: bloom ease-in-out .75s forwards;
        }

        &:hover::before,
        &:focus::before{
            animation: circle .75s;
        }
}

@keyframes bloom {
    0% {
        filter: grayscale(.8);
    }
    40% {
        filter: grayscale(.5);
    }
    100% {
        filter: grayscale(0);
    }
}

@keyframes circle {
    0% {
        opacity: .5;
        background: rgba(213, 156, 34, .2);
    }
    40% {
        opacity: 1;
        background: rgba(213, 34, 160, .2);
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

.grid__img {
    border-radius: 12%;
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.grid {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-gap: 2px;

        @include tablet {
            grid-gap: 4px;
        }

        @include desktop {
            grid-gap: 7px;
        }
}


.grid__item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 11;
}
.grid__item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 9;
}
.grid__item-3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 14;
}
.grid__item-4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 11;
}
.grid__item-5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 11;
    grid-row-end: 16;
}
.grid__item-6 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 10;
}
.grid__item-7 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 15;
}
.grid__item-8 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 8;
}
.grid__item-9 {
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 13;
}
.grid__item-10 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 11;
}