.header {
  position: absolute;

  background-color: transparent;
  z-index: 999;
  width: 100%;

  > .container {
    display: flex;
    align-items: center;
    padding-top: 8px;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      padding-top: 32px;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 37px;
    }
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .logo__img {
    border-radius: 50%;
    background-color: #ffbbca;
    margin-right: 20px;
  }
  .logo__text {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.46;
    letter-spacing: 0.04em;
    color: $accentColor;
  }

  .navigation {
    transform: translateX(26px);

    &__list {
      display: none;
      @media screen and (min-width: 1280px) {
        display: flex;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.31;
        align-items: center;
      }
    }
    &__item {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
      display: flex;
      align-items: center;
      color: $primaryColor;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    &__item .link {
      transition: color 250ms $hoverTimeFunction;
    }
  }

  .button-light {
    background: #ffffff;
    border-radius: 22px;
    padding-left: 37px;
    padding-right: 37px;
    padding-top: 7px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #d41443;
    border: none;
    justify-content: center;
    align-items: center;
    display: none;
    fill: $accentColor;
    transition: background-color $hooverDuration $hoverTimeFunction;
    &:hover {
      background-color: #ecebeb;
    }
    &:focus {
      background-color: #ecebeb;
    }
    @media screen and (min-width: 768px) {
      display: block;
      margin-left: 32px;
    }
  }

  .button__icon {
    margin-left: 12px;
    transform: translateY(+5px);
  }

  .link:hover,
  .link:focus {
    color: #d41443;
  }
  .link.link--current {
    color: #d41443;
  }
  .mob-menu {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #e17992;
    width: 250px;
    height: 100vh;
    overflow: auto;
    transition: all 0.5s;
    transform-origin: 100%;

    @include mobile-horizontal {
      width: 50vw;
    }
    @include tablet {
      width: 40vw;
    }
    @include desktop {
      display: none;
    }
  }
  .is-mob-menu-hidden {
    transform: scaleX(0);
    opacity: 0;
  }

  .header__btn-icon {
    color: #d41443;
  }
  .menu__button {
    display: inline-block;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 26px;
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    width: 209px;
    height: 44px;
    border-radius: 22px;
    border-color: transparent;
    background-color: #ffffff;
    color: #d41443;
    transition: background-color $hooverDuration $hoverTimeFunction;
    &:hover {
      background-color: #ecebeb;
    }
    &:focus {
      background-color: #ecebeb;
    }
    @media screen and (min-width: 768px) {
      width: 209px;
      margin-left: 20px;
    }
  }

  .mob-menu__item {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    color: #ffffff;
    margin-bottom: 23px;
    border-bottom: 1px solid #e18298;
    margin-left: 20px;
    @media screen and (min-width: 768px) {
      margin-left: 20px;
    }
  }
  .mob-menu__item .link {
    transition: color 250ms $hoverTimeFunction;
  }
  .menu-open-btn,
  .menu-close-btn {
    background-color: transparent;
    border: none;
    display: block;
    margin-left: auto;
    cursor: pointer;
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
  .menu-close-btn {
    @media screen and (min-width: 768px) {
      margin-right: 20px;
    }
  }
  .menu-open-icon,
  .menu-close-btn {
    transition: fill $hooverDuration $hoverTimeFunction;
    fill: $accentColor;

    &:hover {
      fill: #ecebeb;
    }
  }
  .menu__btn-icon {
    fill: #d41443;
  }
  .menu-open-icon {
    transform: translateY(+3px);
  }
  .menu-close-icon {
    margin-right: 20px;
    fill: #ffffff;
    transform: translateY(+15px);
    &:hover {
      transition: fill $hooverDuration $hoverTimeFunction;
      fill: $accentColor;
    }
    @media screen and (min-width: 768px) {
      margin-top: 20px;
      margin-right: 0;
    }
  }
  .menu__btn-icon {
    margin-left: 20px;
    transform: translateY(+5px);
  }
}
.header__scroll-up {
  fill: #f62e5c;
}
